<% title "Sectores Empresariales" %>

<div class="button"><%= link_to "Agregar Sector", new_empresarial_sector_path %></div>


<table>
  <tr>
    <th>Nombre</th>
  </tr>
  <% for empresarial_sector in @empresarial_sectors %>
    <tr class="<%=cycle('odd', 'even')%>">
      <td><%=h empresarial_sector.name %></td>
      <td><%= link_to "Ver", empresarial_sector %></td>
      <td><%= link_to "Editar", edit_empresarial_sector_path(empresarial_sector) %></td>
    </tr>
  <% end %>
</table>

