<% form_for @message do |f| %>
  <%= f.error_messages %>
     <%= f.label "Nombre" %> 
    <%= f.text_field :name %>
     <%= f.label "País" %> 
    <%= f.text_field :country %>
     <%= f.label "Correo Electrónico" %>
    <%= f.text_field :email %>
     <%= f.label "Describa la Lección Aprendida con detalles" + helpBox("contenidoLeccion")  %> 
    <%= f.text_area :content %>
   <p><%= f.submit "Enviar Lección" %></p>
<% end %>
