<% title "Mensajes Enviados" %>

<table>
  <tr>
    <th>Nombre</th>
    <th>País</th>
    <th>Email</th>
    <th>Contenido</th>
  </tr>
  <% for message in @messages %>
    <tr>
      <td><%=h message.name %></td>
      <td><%=h message.country %></td>
      <td><%=h message.email %></td>
      <td><%=h message.content %></td>
      <td><%= link_to "Ver", message %></td>
      <td><%= link_to "Editar", edit_message_path(message) %></td>
      <td><%= link_to "Borrar", message, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Message", new_message_path %></p>
