<h2>Ingresar al Sistema
<%if is_admin_path%>
Administrativo
<%end%>	
</h2>

<% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label "Recordarme" %></p>
  <% end -%>

  <p><%= f.submit "Entrar" %></p>
<% end -%>

<%= render :partial => "shared/devise_links" %>