<div class="sign-in-left">
<h2>Ingresar al Sistema
<%if is_admin_path%>
Administrativo
<%end%>	
</h2>

<% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> Recordarme</p>
  <% end -%>
  <p><%= f.submit "Entrar" %></p>
<% end -%>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <p><%= link_to t('devise.passwords.link'), new_password_path(resource_name) %></p>  
<% end -%> 
</div>

<div class="sign-in-right">
<h2>Solicitar cuenta de acceso</h2>
<p>Para ingresar lecciones al sistema debe solicitar una cuenta de acceso al administrador.</p>
<p>Si desea comenzar a compartir sus lecciones aprendidas <%= link_to "solicite una cuenta aquí", new_registration_path(resource_name) %>.</p>

</div>