<% title "Usuarios" %>

<table>
  <tr>
    <th>Email</th>
     
     <th>Usuario</th>
    <th>Nombre</th>
  <th>Ultima Fecha de Ingreso</th>
     </tr>
  <% for user in @users %>
    <tr class="<%=cycle('odd', 'even')%>" >
      <td><%=h user.email %></td>
       
        <td><%=h user.username %></td>
      <td><%=h user.name %></td>
       <td><%=h user.last_sign_in_at %></td>
       
       <td><%= link_to "Ver", user %></td>
       
        <td>
            
            <%if user.confirmation_token.to_s != ""%>
                <%= link_to "Activar Usuario", sendactivation_path(user.id)%>
            <%elsif user.locked_at != nil %>
        
                <%= link_to "Desbloquear", "/unlock/" + user.id.to_s %>
            <%else%>
                Activado
            <%end%>
        
      </td>
       
      <td><%= link_to "Editar", edit_user_path(user) %></td>
    

      <td>
    <%if user.active?.to_s == "false"%>
    Bloqueado
    <%else%>
      <%= link_to "Bloquear", user, :confirm => 'Esta Seguro?', :method => :delete %>
     <%end%>
      
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Registrar Usuario", new_user_registration_path() %></p>
