<h2>Editar Perfil</h2>

<% form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f| -%>
  <%= f.error_messages %>


  
      <p><%= f.label "Nombre" %></p>
  <p><%= f.text_field :name %></p>
  

  <p><%= f.label "Correo Electrónico" %></p>
  <p style="color:gray;"><%= current_user.email %></p>

  <p><%= f.label "Institución" %></p>
  <p><%= f.text_field :institucion, :label => "Institución" %></p>


<p><label>País</label></p>
  <p><%= f.select :country_id, Country.find(:all).collect{|c| [c.name, c.id]} %></p>


  <p><%= f.label "Contraseña" %> <i>(dejar en blanco si no desea cambiarla)</i></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label "Confirmación de contraseña" %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.label "Contraseña Actual" %> <i>(para confirmar sus cambios)</i></p>
  <p><%= f.password_field :current_password %></p>

  <p><%= f.submit "Actualizar Cambios" %></p>
<% end -%>

 