<h2>Registro de Usuario</h2>
  <% form_for resource_name, resource, :url => registration_path(resource_name) do |f| -%>
  <%= f.error_messages %>
      <p><%= f.label "Correo Electrónico" %></p>
      <p><%= f.text_field :email %></p>
 
  <% if is_user() %>
     <p><%= f.label "Nombre" %></p>
        <p><%= f.text_field :name %></p>

  

      <p><label>País</label></p>
      <p><%= f.select :country_id, Country.find(:all).collect{|c| [c.name, c.id]} %></p>


  <p><label>Seleccione un Ambito (o el que mejor se adapte a su actividad)</label></p>
      <%= f.select :ambito_id, Ambito.find(:all).collect{|a| [a.name, a.id]} %>


<p><%= f.label "Institución" %></p>
       <p><%= f.text_field :institucion %></p>  

  <p><%= f.label "Usuario Deseado" %></p>
       <p><%= f.text_field :username %></p>  
     
  <%end%>

  <p><%= f.label "Contraseña" %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label 'Confirmación de Contraseña' %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end -%>



<%= render :partial => "shared/devise_links" %>
