<% title "Instituciones Financieras (IFI)" %>
<div class="button"><%= link_to "Agregar IFI", new_ifi_path %></div>

<table>
 
  <% for ifi in @ifis %>
    <tr  class="<%=cycle('odd', 'even')%>">
      <td><%= link_to ifi.name, ifi_path(ifi) %></td>
       <td><%= link_to "Editar", edit_ifi_path(ifi) %></td>
      <td><%= link_to "Borrar", ifi, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

