<% title "IFI" %>

<h2>
  <%=h @ifi.name %>
</h2>

<p><strong>Sectores Productivos: </strong></p>

<ul>
<%for ps in @ifi.productive_sectors%>
  <li><%=ps.name%> </li> 
<%end%>
</ul>


<%if @ifi.lcountry %>
  <p>
  <strong>País:</strong> <%=@ifi.lcountry.name%>
  </p>
<%end%>

<strong>Información de Contacto</strong>

<p>
<strong>Contacto:</strong>
<%=@ifi.contact_name%>
</p>


<p>
<strong>Telefonos</strong>
<%=@ifi.contact_phone%>
</p>


<p>
<strong>Correo Electrónico</strong>
<%=@ifi.contact_email%>
</p>


<div id="lecciones-list">
  <%= render :partial => @lessons %>
</div>

<p>
  <%= link_to "Editar", edit_ifi_path(@ifi) %> |
  <%= link_to "Borrar", @ifi, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Listado de IFI", ifis_path %>
</p>
