<h1>Proyecto CamBio</h1>
<h3>Sistema de Lecciones Aprendidas</h3>
<div id="lecciones-search-main">
  <form action="/lessons">
    <input type="text" name="q">
  <button>Buscar</button>
  </form>
</div>

<div id="home-nav"
  <div class="enlace-boton">
  <%=link_to "Listar Lecciones", lessons_path %>  
  </div>
  
  <div class="enlace-boton">
  <%=link_to "Listar IFIs", ifis_path %> 
  </div>
  
  <div class="enlace-boton">
   <%=link_to "+ Agregar Leccion", new_lesson_path %> 
   </div>
</div>
<% unless user_signed_in? -%>
  <p><%= link_to 'Registro de Usuario', new_user_registration_path %></p>
  <p><%= link_to 'Entrar como Usuario', new_user_session_path %></p>
<% end -%>

 
 <% unless admin_signed_in? -%>
   <p><% link_to 'Registro como Admin', new_admin_registration_path %></p>
   <p><%= link_to 'Admin', new_admin_session_path %></p>
 <% end -%>