<div id="home">
<h1>Proyecto CAMBio</h1>
<h3>Sistema de Lecciones Aprendidas</h3>
<div id="home-about">
<strong>Lecci&oacute;n Aprendida</strong>: Una buena práctica de trabajo, experiencia o enfoque innovador que es obtenido y compartido para promover aplicaciones repetidas. Una lección aprendida puede también ser una mala práctica de trabajo o experiencia adversa que es obtenida y compartida para evitar su recurrencia.
</div>
<div id="lecciones-search-main" class="rounded14">
	<form action="/lessons">
	  <input type="text" name="q">
	<button>Buscar Lecci&oacute;n</button>
	</form>

	<div id="home-nav" >
		<ul>
			<li>
		   <%=link_to "Listar Lecciones", lessons_path %>  
			</li>
		   <li>
			<%=link_to "Listar IFI", ifis_path %> 
			</li>
		   <li style="background-color:orange;">
		    <%=link_to "Agregar Lecci&oacute;n", new_lesson_path %> 
		 	</li>
		</ul>
	</div>
</div>

	<div id="home-userlinks">
	<ul>
	<% unless user_signed_in? -%>
	  <li><%= link_to 'Registro', new_user_registration_path %></li>
	  <li><%= link_to 'Entrar', new_user_session_path %></li>
	<% end -%>
 
	 <% unless admin_signed_in? -%>
	   <!-- <li><%= link_to 'Admin Registro', new_admin_registration_path %></li> -->
	   <li><%= link_to 'Admin', new_admin_session_path %></li>
	 <% end -%>
	</ul>
	</div>
</div>