<% form_for @productive_sector do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :name %>
    <p>
    Orden:
    <p>
     <%= f.text_field :orden %>
     </p>
  </p>
  <p><%= f.submit "Guardar Cambios" %></p>
<% end %>
