<% title "Ayuda" %>

<p>
  <strong>Código:</strong>
  <%=h @help.code %>
</p>
<p>
  <strong>Título:</strong>
  <%=h @help.title %>
</p>

 
<div  class="helpBox" style="width:400px;position:relative;">
	<h3><%=@help.title%></h3>
	<p>
	<%=simple_format @help.description%>
	</p>
</div>

<p>
  <%= link_to "Editar", edit_help_path(@help) %> |
  <%= link_to "Ver Todos", helps_path %>
</p>
