<% semantic_form_for @lesson do |f| %>
<% f.inputs do%>

 <%= f.input :ambito, :label => "Ambito de La Lección" + helpBox("ambitoLeccion")%> 
 
  <%= f.input :ifi, :collection=>Ifi.all,:label => "IFI" + helpBox("ifiLeccion") %>   

  <%= f.input :lcountries, :as => :check_boxes, :collection => Lcountry.find(:all, :order => "orden ASC"), :label => "Países a los cuales aplica" + helpBox("paisLeccion"),:required => false%>

  <% if current_user %>
  	<% if not current_user.ispublic  %>
	  	<%= f.input :origin, :label => "Origen" + helpBox("origenLeccion") %>
	  	<%= f.input :leccion_type, :label =>"Tipo de Lección" + helpBox("tipoLeccion")%>
	  	<%= f.input :level, :label => "Nivel" + helpBox("colores"),:required => false %> 
	  <%end%>
   <%end%>

  <%= f.input :name, :label => "Título" %>
  <%= f.input :description, :label => "Contenido" + helpBox("contenidoLeccion") %>
      
  <% if current_user %>
    <% if not current_user.ispublic %>
     
      
	  <%if current_user.ambito.name == "CAMBio"%> 
		<!-- Solo para usuarios de CAMBio -->
	  	<%= f.input :resultados,  :as => :check_boxes, :label => "Resultados",:required => false%> 
      	<%= f.input :productos, :as=>:check_boxes, :label => "Productos", :required => false %>
      	<%= f.input :productive_sectors, :as=>:check_boxes, :label => "Sectores Productivos", :collection => ProductiveSector.find(:all, :order=>"orden ASC"), :required => false %>
      	<%= f.input :empresarial_sectors, :as=>:check_boxes, :label =>"Sectores Empresariales", :required => false %>
      <%end%>
	<%end%>
  <%end%>
  
  <%if admin_signed_in? %>
    <%= f.input :user, :label => "Usuario"%>
    <%= f.input :leccion_type, :label =>"Tipo de Lección"+ helpBox("tipoLeccion")%>
    <%= f.input :level, :label => "Nivel"+ helpBox("colores"),:required => false %>
    <%= f.input :origin, :label => "Origen" + helpBox("origenLeccion") %>
    <%= f.input :resultados,  :as => :check_boxes, :label => "Resultados" + helpBox("resultadosLeccion") ,:required => false%> 
    <%= f.input :productos, :as=>:check_boxes, :label => "Productos", :required => false %>
    <%= f.input :productive_sectors, :as=>:check_boxes, :label => "Sectores Productivos", :collection => ProductiveSector.find(:all, :order=>"orden ASC"), :required => false %>
    <%= f.input :empresarial_sectors, :as=>:check_boxes, :label =>"Sectores Empresariales", :required => false %>
    <div class="lesson-approval">
    	<h2>Aprobación o Rechazo de lección</h2>
	    <p>Es importante que indique el tipo de uso que se le dará a la lección (interno o externo) y si se aprueba o no la publicación de esta lección:</p>
	    <div class="approval-checkboxes">
	    <%= f.input :isprivate, :as => :radio, :label => "¿Sólo para uso interno?" + helpBox("leccionInterno"),:collection => { "Si" => true, "No" => false }, :required => true %> 
	    <%= f.input :aprobada, :as => :radio,:label => "¿Desea aprobar esta lección?",:collection => { "Si" => true, "No" => false }, :required => true %> 
	    </div>
    </div>   
  <%end%>
  
<%end%>

<%f.buttons do %>
	<%if @lesson.id%>
	   <%= f.commit_button :button_html => { :value=>"Salvar Cambios"}%>
	<%else%>
	   <%= f.commit_button :button_html => { :value=>"Enviar Lección"}%> 
	<%end%>   
<% end %>

<% end %>  

<%if @lesson.ambito.name=="IFI"%>                          
<script>
$("#lesson_ifi_input").show();
</script>
<%end%>