<!-- Los efectos de JS solo incluidos en views que necesitan usar el helper de HELP-->
<script type="text/javascript" src="/javascripts/prototype.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>
<!-- fin de JS para efectos del helper de HELP-->

<% semantic_form_for @lesson do |f| %>
<% f.inputs do%>
 <%= f.input :ambito, :label => "Ambito de La Lección"%>  <%=help("ambitoLeccion")%>

  <%= f.input :ifi, :label => "IFI" %>  <div style="margin-top:-30px;margin-bottom:20px;margin-left:130px"><%=help("ifiLeccion",600)%></div>
  
 <div style="float:right;margin-bottom:20px;"><%=help("paisLeccion")%></div> 
  <%= f.input :lcountries, :as => :check_boxes, :label => "Países a los cuales aplica",:required => false%>

  <% if current_user %>
  	<% if not current_user.ispublic  %>
	  	<%= f.input :origin, :label => "Origen" %>
	  	<%= f.input :leccion_type, :label =>"Tipo de Lección"%>
	  	<%= f.input :level, :label => "Nivel",:required => false %> 
	  <%end%>
   <%end%>

  <%= f.input :name, :label => "Titulo" %>
  <%= f.input :description, :label => "Contenido" %>
      
  <% if current_user %>
    <% if not current_user.ispublic %>
     
      
	  <%if current_user.ambito.name == "CAMBio"%> 
		<!-- Solo para usuarios de CAMBio -->
	  	<%= f.input :resultados,  :as => :check_boxes, :label => "Resultados",:required => false%>
      	<%= f.input :productos, :as=>:check_boxes, :label => "Productos", :required => false %>
      	<%= f.input :productive_sectors, :as=>:check_boxes, :label => "Sectores Productivos", :required => false %>
      	<%= f.input :empresarial_sectors, :as=>:check_boxes, :label =>"Sectores Empresariales", :required => false %>
      <%end%>
	<%end%>
  <%end%>
  
  <%if admin_signed_in? %>
    <%= f.input :user, :label => "Usuario"%>
    
     <%= f.input :leccion_type, :label =>"Tipo de Lección"%>
      <%= f.input :level, :label => "Nivel",:required => false %>
      <%= f.input :origin, :label => "Origen" %>
      <%= f.input :resultados,  :as => :check_boxes, :label => "Resultados",:required => false%>
      <%= f.input :productos, :as=>:check_boxes, :label => "Productos", :required => false %>
      <%= f.input :productive_sectors, :as=>:check_boxes, :label => "Sectores Productivos", :required => false %>
      <%= f.input :empresarial_sectors, :as=>:check_boxes, :label =>"Sectores Empresariales", :required => false %>
        <%= f.input :isprivate, :as => :radio, :label => "Es Interna  ?" %>
        <%= f.input :aprobada, :as => :radio %>
  <%end%>
  
<%end%>
<% f.buttons do %>
     <%= f.commit_button :button_html => { :value=>"Crear Lección"}%>
   <% end %>

<% end %>
