<div id="leccion-search">
<form action="/lessons/">
  Busqueda: <input type="text" name="q"> 
  <input type="submit" value="Buscar Lecciones">
</form>
</div>

<div id="lecciones-filters">

<ul>
	<li><%=link_to "Todas", lessons_path()%></li>
	<li>Por País</li>
	<ul>
 	<%for country in @countries%>
		<li> <%=link_to country.name, lessons_path(:country_id=>country.id)%> </li>
	<%end%>
	</ul>
 
	<li>Por Ámbito</li>
	<ul>
 	<%for ambito in @ambitos%>
		<li> <%=link_to ambito.name, lessons_path(:ambito_id=>ambito.id)%> </li>
	<%end%>
	</ul>
	
	<li>Por Nivel de Riesgo</li>
	<ul>
 	<%for level in @levels%>
		<li> <%=link_to level.name, lessons_path(:level_id=>level.id)%> </li>
	<%end%>
	</ul>	
</ul>


</div>
<div id="lecciones-list">

 

  <%= render :partial => @lessons %>
  
 
  
</div>

