<div id="lecciones-filters">

<ul>

	<li><%=link_to "Todas", lessons_path()%></li>
	<li>Por País</li>
	<ul>
 	<%for country in @countries%>
		<li class="filter-type"> <%=link_to country.name, lessons_path(:country_id=>country.id)%> </li>
	<%end%>
	</ul>
 
	<li>Por Ámbito</li>
	<ul>
 	<%for ambito in @ambitos%>
		<li  class="filter-type"> <%=link_to ambito.name, lessons_path(:ambito_id=>ambito.id)%> </li>
	<%end%>
	</ul>
	
	<li>Por Nivel de Riesgo</li>
	<ul>
 	<%for level in @levels%>
		<li  class="filter-type"> <%=link_to level.name, lessons_path(:level_id=>level.id)%> </li>
	<%end%>
	</ul>	
	
	<li>Por Sector Económico</li>
	<ul>
	<%for sector in @sectores%>
		<li  class="filter-type"> <%=link_to sector.name, lessons_path(:esector_id=>sector.id)%>
	<%end%>
	
	</ul>
</ul>


</div>
<div id="lecciones-list">

 

  <%= render :partial => @lessons %>
  
 
  
</div>

