<div class="leccion-box-show" >
  
  <div class="leccion-text">
   
    <h2><%=h @lesson.name %></h2>
    
    <%=nl2br(h @lesson.description) %>

<div class="leccion-fecha">
      <strong> Enviada hace </strong>
      <%=time_ago_in_words(@lesson.created_at)%>
    
      <%if @lesson.user%>
      <strong>Por:</strong>
      <%=h @lesson.user.name %>
      <%end%>
      
    </div>
  </div>
  
  <div id="leccion-info-column" class="rounded14">
	  
		<% if admin_signed_in? %>
		<div id="leccion-admin-column"> 
		      <p>

		        <% if @lesson.isprivate %>
		          Lección Interna

		          <%else%>
		          Lección Pública
		          <%end%>
		      </p>
		    <p>
		      <%= link_to "Editar", edit_lesson_path(@lesson) %> |
		      <%= link_to "Deshabilitar", @lesson, :confirm => 'Are you sure?', :method => :delete %>
		    </p>
        </div>
		<%end%> 
	 
	
     <div id="leccion-show-details">
        <%if @lesson.level%>
            <h3>Nivel <%=helpBox("colores")%></h3>
            <div class="leccion-<%=@lesson.level.name%>">
             <%=@lesson.level.name%>
            </div>
         <%end%>
    <% if @lesson.ifi %>
        <h3>IFI</h3>
        <ul><li><%=link_to @lesson.ifi.name, ifi_path(@lesson.ifi) %></li></ul>
    <%end%>      
         
      <%if @lesson.origin%>
          <h3>Origen <%=helpBox("origenLeccion")%></h3> 
          <ul><li><%=h @lesson.origin.name%></li></ul>
          
      <%end%>
      
      <%if @lesson.leccion_type%>
         

          <h3>Tipo <%=helpBox("tipoLeccion")%> </h3>
               <ul><li><%=h @lesson.leccion_type.name %> </li></ul>
      <%end%>

 
     <h3>Ambito  <%=helpBox("ambitoLeccion")%></h3> 
      <ul><li>
          <%=h @lesson.ambito.name %></li></ul>
   
        <% if @lesson.empresarial_sectors.length > 0%>
    	<p>
    	  <h3>Sector Empresarial</h3>
    	  <ul>
    	  <%= @lesson.empresarial_sectors.collect{|r| [ "<li>" + r.name + " </li>"]} %>
    	  </ul>
    	</p>
    	<%end%>
    	<%if @lesson.productive_sectors.length > 0%>
    		<p>
    		 <h3>Sector Productivo</h3>
    		  <ul>
    		 <%= @lesson.productive_sectors.collect{|r| ["<li>" + r.name + " </li>"]} %>
    		  </ul>
    		</p>
    	<%end%>
    </div>   
  </div>


  <div id="leccion-data" > 
	<%if @lesson.resultados.size > 0 %>
	
		  <h3>Resultados</h3>
		  	<p>
		<ul>
	
		<%for resultado in @lesson.resultados%>
		  <li><strong><%=resultado.name%></strong>: <%=resultado.description%></li>
		<%end%>
		</ul>
		</p>
	<%end%>

	<% if @lesson.productos.length > 0%>
	  <h3>Producto</h3>
	    	<p>
	    <ul>
	  <%= @lesson.productos.collect{|r| ["<li>" + r.name + " </li>"]} %>
	    </ul>
	</p>
	<%end%>



  <h3>Paises</h3>
  
  <ul>
  <%=@lesson.lcountries.collect{|c| ["<li>" + c.name + "</li>"]}%>
</ul>



</div>



</div>

<%=link_to "<< Regresar a Listado de Lecciones", lessons_path%>