 

<h2>
 
  <%=h @lesson.name %>
</h2>
 
 
  <%=h @lesson.description %>
 
<p>
  <strong>Enviada:</strong>
  <%=h @lesson.created_at %>
</p>

<p>
  <strong>Ambito:</strong>
  <%=h @lesson.ambito.name %>
</p>
<% if @lesson.ifi %>
<p>
  <strong>IFI:</strong>
  <%=h @lesson.ifi.name %>
</p>
<%end%>

<%if @lesson.leccion_type%>
  <p>
    <strong>Tipo:</strong>
    <%=h @lesson.leccion_type.name %>
  </p>

<%end%>

<%if @lesson.level%>
<p>
  <strong>Level:</strong>
  <%=h @lesson.level.name %>
</p>
<%end%>

<%if @lesson.origin%>
<p>
  <strong>Origin:</strong>
  <%=h @lesson.origin.name%>
</p>
<%end%>

<p>
  <strong>Resultado:</strong>
  <%=h @lesson.resultados.collect{|r| [r.name +  " "]} %>
</p>
<p>
  <strong>Producto:</strong>
  <%=h @lesson.productos.collect{|r| [r.name + " "]} %>
</p>
<p>
  <strong>Empresarial Sector:</strong>
  <%=h @lesson.empresarial_sectors.collect{|r| [r.name + " "]} %>
</p>
<p>
  <strong>Productive Sector:</strong>
  <%=h @lesson.productive_sectors.collect{|r| [r.name + " "]} %>
</p>
<p>
  <strong>Paises:</strong>
  <%=h @lesson.lcountries.collect{|c| [c.name + " "]} %>
</p>
<p>
  <strong>Enviada Por:</strong>
  <%=h @lesson.user.name %>
</p>



<% if admin_signed_in? %>
      <p>

        <% if @lesson.isprivate %>
          Privada

          <%else%>
          Pública
          <%end%>
      </p>
    <p>
      <%= link_to "Editar", edit_lesson_path(@lesson) %> |
      <%= link_to "Deshabilitar", @lesson, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "Ver Todas", lessons_path %>
    </p>

<%end%>