<div class="leccion-box-show" >
  
  <div class="leccion-text">
   
    <h2><%=h @lesson.name %></h2>
    
    <%=h @lesson.description %>
  
    <div class="leccion-fecha">
      <strong> Enviada hace: </strong>
      <%=time_ago_in_words(@lesson.created_at)%>
    
      <%if @lesson.user%>
      <strong>Por:</strong>
      <%=h @lesson.user.name %>
      <%end%>
      
    </div>


      <%if @lesson.origin%>
      <div id="leccion-show-details">
      
        <strong>Origen <%=helpBox("origenLeccion")%></strong>
        <%=h @lesson.origin.name%>
         <%if @lesson.leccion_type%>
            <br/><br/>
            <strong>Tipo: </strong>
            <%=h @lesson.leccion_type.name %>  <%=h @lesson.leccion_type.description %>
          <%end%>
      
      </div>
      <%end%>
  </div>

  <div class="leccion-level-box" >
      <%if @lesson.level%>
<%=helpBox("colores")%>
        <div class="leccion-<%=@lesson.level.name%>" style="float:center; margin-left:80px;">
        Nivel: <%=@lesson.level.name%>
        </div>

      <%end%>
    
 
  </div>
 
</div>

<div id="leccion-data" >
<p>
 <%=helpBox("ambitoLeccion")%> <strong>Ambito: </strong> 
  <%=h @lesson.ambito.name %>
</p>
<% if @lesson.ifi %>
<p>
  <strong>IFI:</strong>
  <%=link_to @lesson.ifi.name, ifi_path(@lesson.ifi) %>
</p>
<%end%>

<%if @lesson.leccion_type%>
  <p>
    <strong>Tipo:</strong>
    <%=h @lesson.leccion_type.name %>
  </p>

<%end%>
 
 

	<%if @lesson.resultados %>
		<p>
		  <strong>Resultados</strong>
		<ul>
	
		<%for resultado in @lesson.resultados%>
		  <li><strong><%=resultado.name%></strong>: <%=resultado.description%></li>
		<%end%>
		</ul>
		</p>
	<%end%>

	<% if @lesson.productos.length > 0%>
	<p>
	  <strong>Producto:</strong>
	    <ul>
	  <%= @lesson.productos.collect{|r| ["<li>" + r.name + " </li>"]} %>
	    </ul>
	</p>
	<%end%>

	<p>
	  <strong>Sector Empresarial:</strong>
	  <ul>
	  <%= @lesson.empresarial_sectors.collect{|r| [ "<li>" + r.name + " </li>"]} %>
	  </ul>
	</p>
	<%if @lesson.productive_sectors.length > 0%>
		<p>
		 <strong>Sector Productivo:</strong>
		  <ul>
		 <%= @lesson.productive_sectors.collect{|r| ["<li>" + r.name + " </li>"]} %>
		  </ul>
		</p>
	<%end%>
 
<p>
  <strong>Paises:</strong>
  <%=h @lesson.lcountries.collect{|c| [c.name + " "]} %>
</p>

<%=link_to "<< Regresar a Listado de Lecciones", lessons_path%>


</div>

<% if admin_signed_in? %>
      <p>

        <% if @lesson.isprivate %>
          Lección Interna

          <%else%>
          Lección Pública
          <%end%>
      </p>
    <p>
      <%= link_to "Editar", edit_lesson_path(@lesson) %> |
      <%= link_to "Deshabilitar", @lesson, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "Ver Todas", lessons_path %>
    </p>

<%end%>