	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <title><%= h(yield(:title) || "Lecciones Aprendidas") %></title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', 'help'%>
 <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <%= yield(:head) %>

	<script>
	$(document).ready(function(){
   		$(".helpLink").toggle(function(event){
     		miId=$(this).attr("id");
			$("#help_"+miId).show("fast");
			return false;
			
		}, function(){
			$(".helpBox").hide("fast");
			return false;
   		});

		$(".closeHelp").click(function(){
			$(".helpBox").hide("fast");
			return false;
		});
		
		$('#lesson_ambito_id').change(function() {
            if($("#lesson_ambito_id option:selected")[0].text=="IFI"){
                $("#lesson_ifi_input").show();
            }else{
                 $("#lesson_ifi_input").hide();
            }
        });
        
        $('#date_range').click(function(){ 
            $("#datepicker").show();
            return false;
        });
        
        $('#comment-form').submit(function(){
           $.post('/comments.js',$("#new_comment").serialize(),function(data){
                data=eval(data);
                $("#comments").append("<div class=\"comment-box\"><strong>"+data[0].user+"</strong><p>"+data[0].content+"</p></div>");
                return false;
          });
           
           
           return false; 
        });

        $('#to_date').datepicker({ dateFormat: 'yy-mm-dd' });
        $('#from_date').datepicker({ dateFormat: 'yy-mm-dd' });

 	});
	
	</script>


  </head>
  <body>
<div id="main">
<div id="container">
	
<div id="header">
	<img src="/images/header.png">
</div>	
 

<div id="top-toolbar">
	<% if not admin_signed_in? -%>
     <div id="top-menu" >
		<ul>
			<li class="rounded4"><%= link_to 'Inicio', root_path %></li>
			<li class="rounded4"><%=link_to 'Lecciones', lessons_path%></li>
			<li class="rounded4"><%=link_to 'IFI', ifis_path%></li>
			<li class="rounded4"><%=link_to 'Búsqueda', search_path%></li>
			<li class="rounded4" style="background-color:orange;"><%=link_to 'Agregar Lección', new_lesson_path%></li>

		</ul>
	</div>
	<%end%>
	
      <% if user_signed_in? -%>
        <div id="user_login_box" style="float:right">
				<div id="login-text">
          			<%= current_user.email %> |
			          <%= link_to 'Mis Datos', edit_user_registration_path %> |
			          <%= link_to 'Salir', destroy_user_session_path %>
				</div>
			
				<div id="leccion-search">
					<form action="/lessons/">
		  				<input type="text" name="q" placeholder="Buscar Lecciones"> 
		  				<input type="button" value="Buscar" id="buscar-button" class="rounded" >
					</form>
				</div>
      	  </div>
	  <%else%>
	     <% if not admin_signed_in? -%>
	   <div id="user_login_box">
				<div id="login-text">
				<%= link_to 'Entrar', new_user_session_path %>
				</div>
				
				<div id="leccion-search">

					<form action="/lessons/">
		  				<input type="text" name="q" placeholder="Buscar Lecciones"> 
		  				<input type="submit" value="Buscar" id="buscar-button" >
					</form>
				</div>
		
		</div>
		<%end%>
      <% end -%>
     
      <% if admin_signed_in? -%>
		<div id="admin_user" style="float:right;font-size:10px; margin-right:30px;margin-top:-20px;">
          <%= current_admin.email %> |
           <%= link_to 'Salir del Admin', destroy_admin_session_path %>
		</div>
        <div id="admin_menu" style="float:left;margin-top:15px;margin-left:65px;">
            <%=link_to "Nuevas Lecciones", lessons_path(:aprobada=>0)%> <%if @newlessons%><div class="counter"><%=@newlessons%></div><%end%>| 
           <%=link_to "Lecciones", lessons_path %> | 
           <%=link_to "Mensajes", messages_path %> | 

        <%=link_to "Usuarios", users_path %> | 
          <% link_to 'Paises', countries_path %>  
          <% link_to 'Ambitos', ambitos_path %> 
           <% link_to 'Tipos', leccion_types_path %>   
          <%= link_to 'IFIs', ifis_path %> |
           <%= link_to 'Productos', productos_path %> |
            <%= link_to 'Sectores Productivos', productive_sectors_path %> |
           <%= link_to 'Sectores Empresariales', empresarial_sectors_path %> |
           <%= link_to 'Ayuda', helps_path%> 
		
        </div>
      <% end -%>
      
</div>
     <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>

      <%- if show_title? -%>
      <div id="title-section">
        <h1><%=h yield(:title) %></h1>
    </div>
      <%- end -%>

		<div id="content">
	      <%= yield %>
		</div>
   </div>

<div id='footer'>
<ul>
	<li>Acerca del Proyecto</li>
	<li>Lecciones Aprendidas</li>
	<li>Instituciones Financieras</li>
	<li>Enviar Lección Aprendida</li>
	<li>Ayuda</li>
	<li>Contacto</li>		
</ul>
</div>

</div>
  </body>
</html>
